.cookTitle1 {background-color:#f03; color:#fff; padding:5px; border:1px solid #000; margin-left:20px;}
.cookTitle2 {background-color:#ffcc33; padding:5px; border:1px solid #f00; margin-left:20px;}
.redDotLine{color: #ff0000; font-weight: bold; border-bottom: 1px dashed #ff0000;}