body{background: url(../images/pattern_gray.png); margin:50px 0 0 0;}
h1{text-align: center; background-color: #ffffff; padding: 5px; margin-bottom: 30px; border-bottom: 5px solid #000000; border-top: 1px solid #000000;}
/* img{margin: 0 auto; display: block;} */
#faqBox{background-color: #666666; font: 9pt '맑은 고딕', '돋움', sans-serif; line-height:150%; color:#efefef; width: 500px; padding: 10px; margin: 0 auto; border: 2px solid #efefef; border-radius:10px; box-shadow: 0 0 20px; #000000;}

#faqBox h2{font-size: 20px; margin-left: 20px; border-bottom: 1px dashed #efefef; padding-bottom:10px; padding-left: 20px; color:#ffffff;}
#faqBox dt{margin-left: 20px; background-color: #000000; color: #ffffff; border-radius: 5px; padding: 5px; font-weight: bold;}
#faqBox dt:before{content: 'Q... '; white-space: pre; color: #c9fe66; font-size: 17px;}
#faqBox dd{text-align: justify; margin: 5px 30px; padding: 5px;}
#faqBox dd:before{content: 'A... '; white-space: pre; color: #ffff99; font-size: 17px;font-weight: bold;}