.parent{position: relative; background: #ffff00; width: 50%; height: 150px;}
.child{width: 200px; height: 100px; background: #ff0000;}
.first{background: #00ff00;}
.last{background: #0000ff; height: 150px;}

.fl{float: left;}

.cf:after{content:''; display: block; clear: both;}