.parent{position: relative; background: #ffff00;}
.child{width: 200px; height: 100px; background: #ff0000;}
.first{background: #00ff00;}
.last{background: #0000ff; height: 150px;}

.fl{float: left;}
/* .parent:after{content:'가'; display: block; clear: both; visibility: hidden; height: 0px;} */
.cf:after{content:''; display: block; clear: both;}