/* body{background: red;} */
h1{background-color: #66339a; color: #ffffff; text-align: center; padding: 15px;}
/* img{display: block; margin: 0 auto;} */
#wrap{text-align: center;}
h2{background-color: red; color: white;}